/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Ensure full height */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Apply Tailwind classes using @apply */
html {
  @apply bg-light-background text-light-text transition-colors;
}

/* Apply dark mode when .dark class is added */
html.dark {
  @apply bg-dark-background text-dark-text;
}

/* Ensure root container takes full height */
body, #root {
  min-height: 100vh;
}
